body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Barvy
Světlá barva pozadí: #f2b880
Tmavší barvy pozadí za obrázkem: #e88121
Barva text v oranžovém pozadí: #752400
*/
.header-pos {
  position: fixed;
  background-color: white;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.header-logo{
  display: flex;
  align-items: flex-end;
  width: 25%;
  position: fixed;
  right: 75%;
  background-color: white;
}
.header-logo img {
  height: 75px;
  margin-left: 57%;
}
.empty-space {
  width: 50%;
  background-color: white;
  margin-left: 25%;
  height: 75px;
  position: fixed;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}
.nav-item {
  width: auto;
}
.nav-mar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 25%;
  margin-right: 11%;
  position: fixed;
  left: 66%;
  background-color: white;
}
.headline-1 {
  display: flex;
  height: 160px;
  justify-content: center;
}
h1 {
  padding-top: 100px;
  font-size: 30px;
  padding-bottom: 35px;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section {
  height: 100%;
}

.hero-square {
  display: flex;
  align-items: center;
  width: 75%;
  height: 45vh;
  background-color: #f2b880;
  border-radius: 20px;

}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 900px;
}
.hero-img img {
  width: 80%;
  margin-left: 30px;
  box-shadow: -11px -11px 0px 0px #e88121;
}
.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  width: 45%;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 75px;
}
.top-link img{
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
}
